<li itemscope itemtype="http://schema.org/CreativeWork">
  {{ if .Params.is_poster }}
  <i class="fa-li fa fa-file-powerpoint-o pub-icon" aria-hidden="true"></i>
  {{ else }}
  <i class="fa-li fa fa-comment-o pub-icon" aria-hidden="true"></i>
  {{ end }}
  <span class="talk-title" itemprop="name">{{ .Title }}</span>
  <p>
    {{ .Date.Format $.Site.Params.date_format }},
    {{ if .Params.event_short }}
        {{ .Params.event_short | markdownify }}
    {{ else if .Params.event }}
            {{ .Params.event | markdownify }}
    {{ end }}
    </br>
    <span class="talk-location">{{ .Params.location | markdownify }}</span>
    
    {{ partial "talk_links" (dict "content" . "is_list" 1) }}
  </p>
</li>

<!-- <div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork"> -->
<!--   <div class="row"> -->

<!--     <h3 class="article-title" itemprop="name"> -->
<!--       <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a> -->
<!--     </h3> -->

<!--     <div class="talk-event"> -->
<!--       {{ if .Params.event }} -->
<!--         {{ .Params.event | markdownify }} -->
<!--       {{ else if .Params.event_short }} -->
<!--         {{ .Params.event_short | markdownify }} -->
<!--       {{ end }} -->
<!--     </div> -->

<!--     <div class="talk-links"> -->
<!--       {{ partial "talk_links" (dict "content" . "is_list" 1) }} -->
<!--     </div> -->

<!--   </div> -->
<!-- </div> -->
